/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/pkg/
/spec/reports/
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log
.idea/
/private/
*.iml
conf/conf.json
anime_master_api
sora_api_go_native
anime_master_api_linux