/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/pkg/
/spec/reports/
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log
.idea/
/private/
*.iml
conf/conf.json
sora_api_go_native
anime_master_api_linux
anime_api_server
anime_api_server_linux
.vscode
./gen/gen